<nav class="bank-navbar">
  <a class="navbar-brand" ><img src="./assets/images/enset_logo.jpg"></a>
  <button class="navbar-toggler" type="button"></button>
  <ul>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Customers
      </a>
      <ul  class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/admin/customers">Search Customers</a></li>
        <li *ngIf="authService.roles.includes('ADMIN')"><a class="dropdown-item" routerLink="/admin/newCustomer">New Customer</a></li>
        <li><hr class="dropdown-divider"></li>
      </ul>
    </li>
    <li>
      <a routerLink="/admin/accounts">Accounts</a>
    </li>
   <ul>
     <li *ngIf="authService.isAuthenticated" style="color: #ffffff;">
       {{authService.username}}
     </li>

     <li>
       <button (click)="handleLogOut()" class="btn btn-success" >LogOut</button>
     </li>
   </ul>
  </ul>
</nav>

